{% extends 'base.html.twig' %}

{% block title %}Ajouter une Salle{% endblock %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% if 'ROLE_ADMIN' in app.user.roles %}
            <h1>Ajouter une Salle</h1>

            {{ form_start(form) }}
                <div>
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name) }}
                </div>

                <div>
                    {{ form_label(form.capacity) }}
                    {{ form_widget(form.capacity) }}
                </div>

                <div>
                    {{ form_label(form.equipment) }}
                    {{ form_widget(form.equipment) }}
                </div>

            {{ form_end(form) }}

        {% else %}
            <p style="color: red; text-align: center; font-size: 24px; font-weight: bold;">Vous n'avez pas accès à cette page !</p>
        {% endif %}
    {% else %}
        <p style="color: red; text-align: center; font-size: 24px; font-weight: bold;">Vous n'êtes pas authentifié !</p>
    {% endif %}
{% endblock %}
