{# templates/admin/edit_room.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Modifier une salle{% endblock %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% if 'ROLE_ADMIN' in app.user.roles %}
            <div class="container mt-5">
                <h1>Modifier la salle</h1>

                {# Affichage du formulaire de modification de la salle #}
                <form method="post" action="{{ path('edit_room', { id: room.id }) }}">
                    {{ form_start(form) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.capacity) }}
                    {{ form_row(form.equipment) }}
                    {{ form_end(form) }}
                </form>
            </div>
        {% else %}
            <p style="color: red; text-align: center; font-size: 24px; font-weight: bold;">Vous n'avez pas accès à cette page !</p>
        {% endif %}
    {% else %}
        <p style="color: red; text-align: center; font-size: 24px; font-weight: bold;">Vous n'avez pas accès à cette page !</p>
    {% endif %}
{% endblock %}
